


.container {
  &.full-height {
    height:100%;
    width: 100%;
    background: #023963;
  }
}

.full-size-row {
  height: 100%;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a {
    color: #3289CB;
    text-decoration: none;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  height: 100%;
  background: #3289CB;

  position: fixed;

     .image {
      img {
        width:80%;
        border-radius: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

  .blurb {
    display: flex;
    padding-top:50px;

    .details {
      text-transform: uppercase;
      width: 50%;
      margin: 0 auto; 
      text-align: center;


      h1 {
        font-size: 2.3rem;
        padding-top: 5px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: 400;
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 1px;
        color: #ffffff;
      }

      h3 {
        font-size:1.6rem;
        letter-spacing: 1px;
        color: #ffffff;
      }
    }
  }

  .about {
    margin: 0 auto;
    color: #ffffff;
    padding: 0 10% 0 10%;
  }

  .links {
    width: 100%;
    padding-top:30px;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #ffffff;
      }
    }

    ul {
      list-style: none;
      border-top: 1px solid #023963;
      border-bottom: 1px solid #023963;
    }

    li {
      margin-bottom: 1rem;
      text-transform: uppercase;
      padding: 20px 0px 10px 15px;
      letter-spacing: 2px;
      color: #023963;
      font-size: 1.3rem;

      &:last-child {
        padding-bottom:8px;
      }
    }
  }
}

.content {
  margin-left:33%;
}

.social-media {
  list-style: none;
  padding-top: 40px;

  li {
    display: inline-block;
    padding-right: 10px;
    img {
      height: 25px;
      width: auto;
    }
  }
}

.copyright {
  text-align: center;
}


.primary-content {
    padding-top:6%;

    h1 {
      text-transform: uppercase;
      border-bottom: 1px solid #3289CB;
      margin-right: 16%;
    }
    h5 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: 1px solid #3289CB;
      padding-bottom: 4px;
    }

    &.work {
      .description {
        h4 {
          border-bottom: none;
          margin-bottom:0;
        }
        h5 {
          font-size:1.6rem;
          color: #3289CB;
        }
      }

      .keyskills {
        margin-bottom:0;
        font-size: 1.5rem;
      }

      .details {
        h4 span {
          border-bottom: 1px solid #3289CB;
          padding-bottom: 3px;
        }
        :first-child {
          padding-top: 5px;
        }
        padding-bottom:40px;
      }

      p {
        font-size: 1.5rem;
      }

      .tech {
        columns: 3;
        list-style-type: disc;
      }

      .tech2 {
        columns: 3;
        list-style-type: disc;
      }

      li {
        margin-bottom: 0;
        p {
          font-size: 1.3rem;
          margin-bottom: 0;
        }
      }

    }
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 25px;
  margin-bottom: 35px;
}

.apps {
  margin-top:20px;
  list-style: none;
  columns: 3;
  column-gap: 40px;

  li {
    display: inline-block;
    width: 100%;
  }

  &.sites-and-apps-projects {
    columns: inherit;
    .project {
      width: 90%;
    }
  }

  .project {

    margin-bottom: 40px;
    width: 100%;
    min-height: 130px;

    .title {
      span {
        border-bottom: 1px solid #3289CB;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      margin-bottom: 0;
      border: none;
    }

    .stats {
      display: flex;
      justify-content: space-around;
      color: #fffff;
      margin-top: 20px;
    }
  }
}

.education {
  h6 {
    font-size: 1.4rem;
  }

  .no-bottom {
    margin-bottom: 0;
  }

  .grades {
    padding-top: 2%;

    .year-title {
      font-size: 3rem;
      text-transform: uppercase;
      border-bottom: 1px solid #3289CB;
      padding-bottom: 4px;
    }

    table {
      width: 100%;

      td {
        width: 100%;
      }
    }
  }
}
