$iPhone6-plus: 414px;

body {
    margin: 0;
}

.container {
    &.full-height {
        height: 100%;
        width: 100%;
        background: #023963;
    }

    @media screen and (max-width: $iPhone6-plus) {
        padding: 0px;
        padding-bottom: 30px;
        font-size: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.mobile-image {
    @media screen and (max-width: $iPhone6-plus) {
        display: block;
        padding-top: 20px;

        img {
            width: 35%;
            border-radius: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    display: none;
}

.full-size-row {
    width: 100%;
    height: 100%;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.side-bar {
    @media screen and (max-width: $iPhone6-plus) {
        background: #3289CB;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 88px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    height: 100%;
    background: #3289CB;
    position: fixed;

    .image {
        /* Hide the emoji in the footer on mobile devices */
        @media screen and (max-width: $iPhone6-plus) {
            display: none;
        }

        img {
            width: 35%;
            border-radius: 40%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .blurb {
        /* Hide the blurb in the footer icon on mobile devices */
        @media screen and (max-width: $iPhone6-plus) {
            display: none;
        }

        display: flex;
        padding-top: 10px;

        .details {
            width: 50%;
            margin: 0 auto;
            text-align: center;

            h1 {
                font-size: 2.3rem;
                padding-top: 5px;
                letter-spacing: 1px;
                color: #ffffff;
                font-weight: 400;
            }

            h2 {
                font-size: 1.6rem;
                letter-spacing: 1px;
                color: #ffffff;
            }

            h3 {
                font-size: 1.6rem;
                letter-spacing: 1px;
                color: #ffffff;
            }
        }
    }

    .about {
        /* Hide the about section in the footer icon on mobile devices */
        @media screen and (max-width: $iPhone6-plus) {
            display: none;
        }

        font-size: 1.2rem;
        margin: 0 auto;
        color: #ffffff;
        padding: 0 10% 0 10%;
    }

    .links {
        @media screen and (max-width: $iPhone6-plus) {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        width: 100%;
        padding-top: 10px;
        text-align: center;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #ffffff;
            }
        }

        ul {
            @media screen and (max-width: $iPhone6-plus) {
                margin: 0;
                height: 40px;
                font-size: 2rem;
            }

            list-style: none;
            border-top: 1px solid #023963;
            border-bottom: 1px solid #023963;
        }

        li {
            @media screen and (max-width: $iPhone6-plus) {
                display: inline;
            }

            margin-bottom: 1rem;
            padding: 10px 0px 10px 10px;
            letter-spacing: 2px;
            color: #023963;
            font-size: 1.3rem;

            &:last-child {
                padding-bottom: 8px;
            }
        }
    }
}

.content {
    margin-left: 37%;

    @media screen and (max-width: $iPhone6-plus) {
        margin: 0;
    }
}

.social-media {
    @media screen and (max-width: $iPhone6-plus) {
        padding-top: 5px;
    }

    list-style: none;
    padding-top: 25px;

    li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;

        img {
            height: 25px;
            width: auto;
        }
    }
}

.copyright {
    text-align: center;
}

.primary-content {
    padding-top: 6%;

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    h5 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 2rem;
        border-bottom: 1px solid #3289CB;
        padding-bottom: 4px;
    }

    &.work {
        .description {
            @media screen and (max-width: $iPhone6-plus) {
                text-align: center;
            }

            text-align: left;

            h4 {
                border-bottom: none;
                margin-bottom: 0;
            }

            h5 {
                margin-left: 0;
                font-size: 1.6rem;
            }
        }

        .keyskills {
            margin-bottom: 0;
            font-size: 1.5rem;
        }

        .details {
            h4 span {
                border-bottom: 1px solid #3289CB;
                padding-bottom: 3px;
            }

            :first-child {
                padding-top: 5px;
            }

            padding-bottom: 40px;
        }

        p {
            font-size: 1.5rem;
        }

        .tech {
            columns: 3;
            list-style-type: disc;
        }

        .tech2 {
            columns: 3;
            list-style-type: disc;
        }

        li {
            margin-bottom: 0;

            p {
                font-size: 1.3rem;
                margin-bottom: 0;
            }
        }
    }
}

.subtitle {
    letter-spacing: 2px;
    padding-top: 25px;
    margin-bottom: 35px;
}

.mission-statement {
    @media screen and (max-width: $iPhone6-plus) {
        text-align: center;
        margin: 4%;
    }

    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 30px;
}

.apps {
    margin-top: 20px;
    list-style: none;
    columns: 1;
    column-gap: 40px;

    li {
        width: 100%;
        border-top: 1px solid #3289CB;
    }

    &.sites-and-apps-projects {
        columns: inherit;

        .project {
            width: 100%;
        }
    }

    .project {
        margin-bottom: 40px;
        width: 100%;
        min-height: 40px;
        text-align: center;

        .title {
            @media screen and (max-width: $iPhone6-plus) {
                width: 100%;
                text-align: center;
            }

            span {
                letter-spacing: 2px;
            }

            margin-bottom: 0;
            border: none;
        }

        .site-description {
            @media screen and (max-width: $iPhone6-plus) {
                width: 100%;
                text-align: center;
            }

            padding-top: 20px;
            text-align: justify;
        }

        .description {
            width: 40%;
            margin-left: 10%;
            padding: 6px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .language {
            text-align: center;
            margin-left: 10%;
            width: 40%;
        }

        .url {
            margin-left: 80%;
            text-decoration: underline;
        }

        .stats {
            display: flex;
            justify-content: space-around;
            color: #fffff;
            margin-top: 20px;
        }
    }
}

.education {
    .table {
        @media screen and (max-width: $iPhone6-plus) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    h6 {
        font-size: 1.4rem;
    }

    .no-bottom {
        margin-bottom: 0;
    }

    .grades {
        padding-top: 2%;

        .year-title {
            font-size: 3rem;
            border-bottom: 1px solid #3289CB;
            padding-bottom: 4px;
        }

        table {
            width: 100%;

            td {
                width: 100%;
            }
        }
    }
}