<ul class="social-media">
  <li><a href=mailto:{{contactMe}}><img src="./dist/images/svg-icons/57-outlook.svg"></a></li>
  <li><a href={{social.github}}><img src="./dist/images/svg-icons/41-github.svg"></a></li>
  <li><a href={{social.linkedIn}}><img src="./dist/images/svg-icons/11-linkedin.svg"></a></li>
</ul>
<p class="copyright">	&copy; Denis Quaid 2016</p>
